APP_ID=
DISCORD_TOKEN=
PUBLIC_KEY=
PORT=4008

LEAGUE_API_KEY = 
TYLA_PUUID = 
CORBEN_PUUID = 
GINGY_PUUID = 
SAUL_PUUID =
GDO_PUUID =
HARRY_PUUID =
HAYLEY_PUUID =
PC_PECKER_PUUID = 

BASE_PATH = https://europe.api.riotgames.com
TFT_BASE_PATH = https://euw1.api.riotgames.com



